{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        {% block extrahead %}
        {% endblock %}
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
        <title>
            {% block title %} Document {% endblock %}
        </title>
    </head>
    <body>
        {% block header %}
        <h4>Este es el bloque del header base</h4>
        {% endblock %}

        {% block content %}
        <h5>Este es el contenido del archivo base</h5>
        {% endblock %}

        {% block footer %}
        <h5>Soy el footer del base</h5>
        {% endblock %}
        <script src="https://code.jquery.com/jquey-1.10.2.min.js"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        {% block extrajs %}
        {% endblock %}

    </body>
</html>