{% extends 'base/base.html' %}

{% block content %}
<html>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>#</td>
                <td>LINEA BASE</td>
                <td>TAREA</td>
                <td>DESCRIPCION</td>
                <td>ESTADO</td>
                <td>VERSION</td>

            </tr>
        </thead>
        <tbody>
            <form method="post">
            {% if var %}
            {% for c in var %}
            <tr>
                <td>#</td>
                {% for d in c %}
                <td>{{ d }}</td>
                {% endfor %}
            </tr>
            
            {% endfor %}
            {% else %}
            <h1>No hay registros de tareas</h1>
            {% endif %}
            </form>

        </tbody>
    </table>  
</html>  
{% endblock %}